# Managed by chezmoi. Edit the template in the dotfiles repository instead.
#{{ $c := .flint.resolved }}{{ $r := .flint.raw }}
gui:
  theme:
    activeBorderColor:
      - "{{ $r.overlay_strong.hex }}"
      - bold
    inactiveBorderColor:
      - "{{ $r.border_inactive.hex }}"
    searchingActiveBorderColor:
      - "{{ $r.yellow.hex }}"
      - bold
    optionsTextColor:
      - "{{ $r.success.hex }}"
    selectedLineBgColor:
      - "{{ $r.background_modifier_hover.hex }}"
    cherryPickedCommitBgColor:
      - "{{ $r.background_modifier_hover.hex }}"
    cherryPickedCommitFgColor:
      - "{{ $c.cherry_picked_fg.hex }}"
    unstagedChangesColor:
      - "{{ $r.error.hex }}"
    defaultFgColor:
      - "{{ $r.text_normal.hex }}"
    branchFgColor:
      - "{{ $r.purple.hex }}"
    statusFileType:
      - "{{ $r.accent_cyan.hex }}"
    commitHash:
      - "{{ $r.peach.hex }}"
    commitAuthor:
      - "{{ $r.success.hex }}"
    secondaryRegionFgColor:
      - "{{ $r.purple.hex }}"
    markedBaseCommitFgColor:
      - "{{ $r.yellow.hex }}"

# vim: ft=yaml
