# Managed by chezmoi. Edit the template in the dotfiles repository instead.
# {{ $c := .flint.resolved }}{{ $r := .flint.raw }}

[general]
live-config = 1
framerate = 60
autosens = 1
sensitivity = 100
bars = 0
bar_width = 2
bar_spacing = 1
center_align = 1
max_height = 100
lower_cutoff_freq = 50
higher_cutoff_freq = 10000
sleep_timer = 0

[input]
method = pipewire
source = auto

[output]
method = noncurses
orientation = bottom
channels = stereo
mono_option = average
reverse = 0
xaxis = none
synchronized_sync = 0
show_idle_bar_heads = 0
waveform = 0

[color]

background = '{{ $r.background_primary.hex }}'
foreground = '{{ $r.interactive_accent.hex }}'

gradient = 1
gradient_color_1 = '{{ $r.interactive_accent.hex }}'
gradient_color_2 = '{{ $r.accent_cyan.hex }}'
gradient_color_3 = '{{ $r.success.hex }}'
gradient_color_4 = '{{ $r.yellow.hex }}'
gradient_color_5 = '{{ $r.peach.hex }}'
gradient_color_6 = '{{ $r.error.hex }}'
gradient_color_7 = '{{ $r.purple.hex }}'
gradient_color_8 = '{{ $r.pink.hex }}'

horizontal_gradient = 0

[smoothing]
monstercat = 0
waves = 0
noise_reduction = 77

# vim: ft=dosini
