[Desktop Entry]
Version=1.0
Name=Zellij
Type=Application
Comment=Manage Your Terminal Applications
Terminal=false
Exec={{ if eq .chezmoi.hostname "optiplex" }}kitty{{ else }}foot{{ end }} zellij
Icon=zellij
Categories=ConsoleOnly;System;
GenericName=Terminal Multiplexer
