[Desktop Entry]
Version=1.0
Name=Zellij
Type=Application
Comment=Manage Your Terminal Applications
Terminal=false
Exec=foot zellij
Icon=zellij
Categories=ConsoleOnly;System;
GenericName=Terminal Multiplexer
