# Managed by chezmoi. Edit the template in the dotfiles repository instead.
#{{ $a := .flint.appearance }}
#{{ $d := .flint.desktop }}
#{{ $isDark := eq .flint.active_theme "dark" }}

[Settings]
gtk-theme-name={{ $a.gtk_theme }}
gtk-icon-theme-name={{ $a.icon_theme }}
gtk-font-name={{ $d.font_family_sans }} {{ $d.font_size }}
gtk-cursor-theme-name={{ $d.cursor_theme }}
gtk-cursor-theme-size={{ $d.cursor_size }}
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=0
gtk-menu-images=0
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=0
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintslight
gtk-xft-rgba=rgb
gtk-application-prefer-dark-theme={{ ternary "true" "false" $isDark }}

# vim: ft=dosini
