{{ $c := .flint.resolved }}{{ $r := .flint.raw }}
[ColorScheme]
active_colors=#{{ $r.text_normal.bare }}, #{{ $c.qt_button.bare }}, #{{ $c.qt_light.bare }}, #{{ $c.qt_midlight.bare }}, #{{ $c.qt_dark.bare }}, #{{ $c.qt_mid.bare }}, #{{ $r.text_normal.bare }}, #{{ $c.on_accent.bare }}, #{{ $r.text_normal.bare }}, #{{ $c.qt_base.bare }}, #{{ $r.background_secondary.bare }}, #{{ $c.qt_shadow.bare }}, #{{ $r.selection_wash.bare }}, #{{ $r.text_normal.bare }}, #{{ $r.color_accent_1.bare }}, #{{ $r.purple.bare }}, #{{ $c.qt_alternate_base.bare }}, #{{ $r.text_normal.bare }}, #{{ $r.tooltip_bg.bare }}, #{{ $r.tooltip_fg.bare }}
disabled_colors=#{{ $r.text_muted.bare }}, #{{ $c.qt_button.bare }}, #{{ $c.qt_light.bare }}, #{{ $c.qt_midlight.bare }}, #{{ $c.qt_dark.bare }}, #{{ $c.qt_mid.bare }}, #{{ $r.text_muted.bare }}, #{{ $c.on_accent.bare }}, #{{ $r.text_muted.bare }}, #{{ $c.qt_base.bare }}, #{{ $r.background_secondary.bare }}, #{{ $c.qt_shadow.bare }}, #{{ $r.selection_wash.bare }}, #{{ $r.text_normal.bare }}, #{{ $r.text_muted.bare }}, #{{ $r.text_muted.bare }}, #{{ $c.qt_alternate_base.bare }}, #{{ $r.text_muted.bare }}, #{{ $r.tooltip_bg.bare }}, #{{ $r.tooltip_fg.bare }}
inactive_colors=#{{ $r.text_normal.bare }}, #{{ $c.qt_button.bare }}, #{{ $c.qt_light.bare }}, #{{ $c.qt_midlight.bare }}, #{{ $c.qt_dark.bare }}, #{{ $c.qt_mid.bare }}, #{{ $r.text_normal.bare }}, #{{ $c.on_accent.bare }}, #{{ $r.text_normal.bare }}, #{{ $c.qt_base.bare }}, #{{ $r.background_secondary.bare }}, #{{ $c.qt_shadow.bare }}, #{{ $r.selection_wash.bare }}, #{{ $r.text_normal.bare }}, #{{ $r.color_accent_1.bare }}, #{{ $r.purple.bare }}, #{{ $c.qt_alternate_base.bare }}, #{{ $r.text_normal.bare }}, #{{ $r.tooltip_bg.bare }}, #{{ $r.tooltip_fg.bare }}
