{{ $c := .flint.resolved }}
[ColorScheme]
active_colors=#{{ $c.text.bare }}, #{{ $c.qt_button.bare }}, #{{ $c.qt_light.bare }}, #{{ $c.qt_midlight.bare }}, #{{ $c.qt_dark.bare }}, #{{ $c.qt_mid.bare }}, #{{ $c.text.bare }}, #{{ $c.on_selection.bare }}, #{{ $c.text.bare }}, #{{ $c.qt_base.bare }}, #{{ $c.background.bare }}, #{{ $c.qt_shadow.bare }}, #{{ $c.selection.bare }}, #{{ $c.on_selection.bare }}, #{{ $c.interactive_text.bare }}, #{{ $c.purple_text.bare }}, #{{ $c.qt_alternate_base.bare }}, #{{ $c.text.bare }}, #{{ $c.qt_tooltip_base.bare }}, #{{ $c.text_muted.bare }}
disabled_colors=#{{ $c.text_muted.bare }}, #{{ $c.qt_button.bare }}, #{{ $c.qt_light.bare }}, #{{ $c.qt_midlight.bare }}, #{{ $c.qt_dark.bare }}, #{{ $c.qt_mid.bare }}, #{{ $c.text_muted.bare }}, #{{ $c.on_selection.bare }}, #{{ $c.text_muted.bare }}, #{{ $c.qt_base.bare }}, #{{ $c.background.bare }}, #{{ $c.qt_shadow.bare }}, #{{ $c.selection.bare }}, #{{ $c.on_selection.bare }}, #{{ $c.text_muted.bare }}, #{{ $c.text_muted.bare }}, #{{ $c.qt_alternate_base.bare }}, #{{ $c.text_muted.bare }}, #{{ $c.qt_tooltip_base.bare }}, #{{ $c.text_muted.bare }}
inactive_colors=#{{ $c.text.bare }}, #{{ $c.qt_button.bare }}, #{{ $c.qt_light.bare }}, #{{ $c.qt_midlight.bare }}, #{{ $c.qt_dark.bare }}, #{{ $c.qt_mid.bare }}, #{{ $c.text.bare }}, #{{ $c.on_selection.bare }}, #{{ $c.text.bare }}, #{{ $c.qt_base.bare }}, #{{ $c.background.bare }}, #{{ $c.qt_shadow.bare }}, #{{ $c.selection.bare }}, #{{ $c.on_selection.bare }}, #{{ $c.interactive_text.bare }}, #{{ $c.purple_text.bare }}, #{{ $c.qt_alternate_base.bare }}, #{{ $c.text.bare }}, #{{ $c.qt_tooltip_base.bare }}, #{{ $c.text_muted.bare }}
