// Managed by chezmoi. Edit the template in the dotfiles repository instead.
//{{ $c := .flint.resolved }}{{ $r := .flint.raw }}
//{{ $key := $c.fastfetch_key.hex }}
//{{ $rose := $r.error.bare }}

{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "display": {
    "disableLinewrap": true,
  },
  "logo": {
    "source": "{{ .chezmoi.homeDir }}/.config/fastfetch/ascii.txt",
    "color": {
      "1": "{{ $r.peach.hex }}",
    },
    "padding": {
      "top": 2,
    },
  },
  "modules": [
    {
      "keyWidth": 10,
      "type": "title",
    },
    "break",
    {
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "os",
    },
    {
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "kernel",
    },
    {
      "format": "{version}",
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "host",
    },
    {
      "format": "{pacman} (pacman)",
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "packages",
    },
    {
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "shell",
    },
    {
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "terminal",
    },
    {
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "wm",
    },
    {
      "key": " ",
      "keyColor": "{{ $key }}",
      "type": "uptime",
    },
    "break",
    "colors",
  ],
}

// vim: ft=jsonc
