[Unit]
Description=Mako notification daemon
Documentation=man:mako(1)
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/mako
Restart=on-failure

[Install]
WantedBy=sway-session.target
