[Unit]
Description=NetworkManager applet
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/env nm-applet --indicator
Restart=on-failure

[Install]
WantedBy=sway-session.target
