[Unit]
Description=Sway idle manager (unlocked)
Documentation=man:swayidle(1)
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=%h/.config/sway/scripts/wrapper_swayidle.sh unlocked
KillMode=process
Restart=on-failure

[Install]
WantedBy=sway-session.target
